/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #fffef8;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	margin-top: 70px;

}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;

}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.projets {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3em 0em 2em;

}

.projets h2 {
	text-align: center;
	margin-right: 15px;

}

.projets a {
	margin-left: 10px;
	text-decoration: none;
	color: inherit;
}

.projets a:hover {
	color: #B1663C;
}


.filtersContainer {
	display: flex;
	justify-content: center;
	gap: 10px;
	border-radius: 5px;
	padding: 1em;
}

.filtersContainer>* {
	padding: 9px 1em;
	border: 1px solid #1D6154;
	border-radius: 25px;
	font-family: 'Syne';
	color: #1D6154;
	cursor: pointer;
}

.filtersContainer>*:hover {
	background-color: #1D6154;
	color: white;
}

#error-message {
	display: none;
	color: red;
	font-size: 14px;
	margin-top: 15px;
	text-align: center;
}

.edit {
	background-color: black;
	height: 50px;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	color: white;

}

.edit p {
	display: flex;
	align-items: center;
}

.edit i {
	margin-right: 8px;
	
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}


/***********************MODAL*********************/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0000004D;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;

	#titlemodal {
		font-family: 'Work Sans';
		font-weight: 400;
		font-size: 26px;
		padding-top: 36px;
		padding-bottom: 42px;
		text-align: center;

	}
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: auto;
	width: 590px;
	max-width: calc(100% - 40px);
	max-height: calc(100vh - 20px);
	padding: 16px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}


.gallery-modal {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	grid-column-gap: 9px;
	grid-row-gap: 25px;
	margin-bottom: 16px;
	width: 419px;
}

.gallery-modal figure {
	position: relative;
	margin: 0;
}

.gallery-modal img {
	width: 100%;
	height: auto;
}

.border-line {
	border: 1px solid #b3b3b3;
	width: 420px;
	margin: 38px 0;
}

.add-photo-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
	background-color: #1D6154;
	color: white;
	border-radius: 60px;
	width: 237px;
	height: 36px;
	margin-bottom: 16px;
	cursor: pointer;
	border: none;
	transition: background-color 0.3s, color 0.3s, border 0.3s;
}



.add-photo-button:hover {
	background-color: white;
	;
	color: #1d6154;
	border: 1px solid #1d6154;
}

.delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	background: black;
	border-radius: 2px;
	color: white;
	padding: 5px;
	cursor: pointer;
}

#close-modal {
	position: absolute;
	top: 26px;
	right: 26px;
	background: transparent;
	border: none;
	font-size: 1.2rem;
	color: #333;

}

#close-modal-add-work {
	position: absolute;
	top: 26px;
	right: 26px;
	background: transparent;
	border: none;
	font-size: 1.2rem;
	color: #333;
}

.back-modal {
	position: absolute;
	top: 10px;
	left: 10px;
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #333;
	cursor: pointer;
}

.fa-arrow-left {
	font-size: 22px;
	margin: 16px 0px 0 20px;
}


#addWorkButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
	background-color: #1d6154;
	color: white;
	border-radius: 60px;
	width: 237px;
	height: 36px;
	margin-bottom: 16px;
	cursor: pointer;
	border: none;
	transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#addWorkButton:hover {
	background-color: white;
	color: #1d6154;
	border: 1px solid #1d6154;
}

#formAddWork {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#formAddWork input[type="text"],
#formAddWork select {
	padding: 18px;
}

.containerAddPhoto {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: #e8f1f6;
	margin-bottom: 9px;
	overflow: hidden;
	width: 100%;
    height: 200px;

}

.containerAddPhoto p {
	font-size: 12px;
}

#previewImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: none;
}

#uploadLabel {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#uploadLabel.hidden {
    display: none;
}


label p {
	background-color: #aebac1;
	color: white;
	border-radius: 60px;
	padding: 10px 30px;
	margin: 10px 16px

}

label span {
	font-size: 10px;
}



#categoryInput,
#title {
	border: none;
	background: #fff;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.fa-image {
	font-size: 76px;
	color: #cbd6dc;
	margin: 0;
}

/********************MODAL END***********************/

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}